@define-color primary whitesmoke;
@define-color alert #470000;

* {
	font-family: "JetbrainsMono Nerd Font" ;
	font-size: 15px;
	background: none;
	border: none;
	color: @primary;
}

tooltip {
	border-radius: 8px;
	background-color: rgba(0, 0, 0, 0.9);
}

#network {
	margin: 0 10px;
	transition: none;
	color: @primary;
	background: none;
}

#battery {
	margin: 0 10px;
	color: @primary;
}

#battery.charging, #battery.plugged {
	color: @primary;
}

#battery.critical:not(.charging) {
    color: @alert;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        color: #960000;
    }
}

#backlight {
	margin: 0 10px;
	color: #161320;
	background: #F8BD96;
}

#clock {
	margin: 0 10px;
	color: @primary;
}

#tray {
	margin: 0 10px;
	color: @primary;
}

#custom-launcher {
	margin: 0 10px;
    	color: @primary;
}

#hyprland-workspaces {
	margin: 0 10px;
	color: @primary;
}


#backlight {
	background: none;
	margin: 0 10px;
    	color: @primary;
}
